{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{error.message}}
        </div>
    {% endif %}

    {# form de connexion #}
    <div class="col-5 pt-5 ml-auto mr-auto">
        <h1 class="text-center">Connexion</h1>
        {{ form_start(formView) }}

        {{ form_widget(formView) }}

        <button class="btn btn-success">connexion</button>

        {{ form_end(formView) }}
    </div>
{% endblock %}
